alembic==1.11.1
altgraph==0.17.3
asgiref==3.7.2
blinker==1.6.2
Brotli==1.1.0
certifi==2023.5.7
charset-normalizer==3.2.0
click==8.1.3
colorama==0.4.6
crispy-bootstrap5==0.7
dj-database-url==2.1.0
Django==5.0
django-crispy-forms==2.0
django-heroku==0.3.1
Flask==2.3.2
Flask-Migrate==4.0.4
Flask-SQLAlchemy==3.0.5
geographiclib==2.0
geopy==2.3.0
greenlet==3.0.2
gunicorn==21.2.0
html5==0.0.9
idna==3.4
instagram-private-api==1.6.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
keyboard==0.13.5
Mako==1.2.4
MarkupSafe==2.1.2
msgpack==1.0.5
mysql-connector-python==8.1.0
neovim==0.3.1
packaging==23.2
pefile==2023.2.7
Pillow==10.1.0
power==1.4
prettytable==3.8.0
protobuf==4.21.12
psycopg2==2.9.6
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.6
pynvim==0.4.3
pyreadline==2.1
python-dotenv==1.0.0
python-http-client==3.3.7
pywin32-ctypes==0.2.2
requests==2.31.0
sendgrid==6.10.0
shell==1.0.1
six==1.16.0
SQLAlchemy==2.0.19
sqlparse==0.4.3
starkbank-ecdsa==2.2.0
typing_extensions==4.7.1
tzdata==2022.7
ua-parser==0.18.0
urllib3==2.0.3
user-agents==2.2.0
wcwidth==0.2.6
webencodings==0.5.1
Werkzeug==2.3.3
whitenoise==6.6.0
