{% extends 'Portafolio/base.html' %}

{% block title %}
Bienvenido
{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<div class='hero'>
    <div class='hero-content'>
        <div class='left'>
            <h1>Soy desarrollador</h1>
            <h1>Juan Almendra</h1>
            <p>Construyo aplicaciones en Python dinámicas utilizando base de datos relacionales.</p>
            <a href='#contacto' class='btn'>Contáctame</a>
        </div>
        <div class='right'>
            <img src='{% static 'big-date.png' %}' width="600px" />
        
        </div>
    </div>
</div>



{% include "portafolio/section-first.html" %}
{% include "portafolio/section-second.html" %}
{% include "portafolio/section-third.html" %}

{% endblock%}