
<div class='center padded white-bg'>
    <div class='content padded'>
        <div class='padded'>
            <hi>No estas convencido? mira lo que he contruído! </h1>
        </div>
        <div class='row'>
            <div class='card third'>
                <h3>Mailer app</h3>
                <p>Una aplicacíon que envía correos utilizando la API de Sendgrid.</p>
                <a class='orange' href='#'>link aqui</a>
            </div>
            <div class='card third'>
                <h3>Gestor clientes</h3>
                <p>Una aplicacíon para gestionar mis clientes.</p>
                <a class='orange' href='#'>link aqui</a>
            </div>
            <div class='card third'>
                <h3>Gestor de tareas</h3>
                <p>Una aplicacíon para gestionar mis tareas</p>
                <a class='orange' href='#'>link aqui</a>
            </div>
        </div>
    </div>
</div>
